
body {
  /* background-color: rgb(113, 118, 122); */
  background-color: #e5e5e5;
  margin: 0;
}

.image {
  height: 100%;
  width: 100%;
  filter: brightness(100%);
  object-fit: cover;
  transition: 0.5s ease;
}

.image:hover {
  filter: brightness(80%);
}


.loading {
  text-align: center;
  padding: 3rem;
}
